.wrapper {
    background-image: url("../../assets/images/quiz-top-bg.svg"), url("../../assets/images/quiz-bottom-bg.svg");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100%;
    min-height: 100vh;
    padding: 183px 0 183px 0;
}

.contentWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 445px;
}


.title {
    font-family: "Quicksand-medium", serif, Times;
    font-size: 81px;
    line-height: 101px;
    color: #4953be;
    max-width: 665px;
    margin-bottom: 41px;
}

.subtitle {
    font-family: "Quicksand-medium", serif, Times;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.5em;
    text-transform: lowercase;
    color: #4953be;
    margin-bottom: 62px;
}

.question {
    font-family: "Quicksand-medium", serif, Times;
    font-size: 31px;
    line-height: 45px;
    color: #4953be;
    margin-bottom: 108px;
}

.btnBlue {
    margin-bottom: 37px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        min-height: 770px;
    }

    .wrapper {
        padding: 138px 0 115px 0;
    }

    .title {
        font-size: 31px;
        margin-bottom: 19px;
        line-height: 38px;
    }

    .subtitle {
        font-size: 13px;
        margin-bottom: 28px;
    }

    .question {
        font-size: 25px;
        line-height: 36px;
        text-align: left;
        margin-bottom: 65px;
    }

    .btnBlue {
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        min-height: 514px;
    }
}
