.wrapper {
    font-family: "Comfortaa-regular", serif, Times;
}

.progressWrapper {
    width: 406px;
    margin-bottom: 101px;
}

.statusWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    /* width: 406px; */
    height: 5px;
    /* position: relative; */
    background-color: #dbdeff;
    border-radius: 20px;
}

.progressDone {
    background-color: #ff7878;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

.numDone {
    /* font-family: "Quicksand-bold", serif, Times; */
    font-size: 28px;
    line-height: 35px;
    color: #ff7878;
}

.numTotal {
    /* font-family: "Quicksand-bold", serif, Times; */
    font-size: 20px;
    line-height: 25px;
    color: #4953be;
}

.numBlock {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
}

.avatar {
    width: 52px;
    height: 52px;
    background-color: #FFFBFA;
    border-radius: 50%;
    margin-right: 19px;
    background-image: url("../../assets/images/avatar.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.caption {
    font-family: "Comfortaa-bold", serif, Times;
    margin-right: 14px;
    font-size: 21px;
    line-height: 23px;
    color: #fff;
}

.numBlockStatus {
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

.statusBlock {
    width: 35px; 
    height: 33px;
    background-image: url("../../assets/images/red-star.svg");
    margin: 0 4px; 
}

.statusDone {
    background-image: url("../../assets/images/red-star.svg");
}

.statusLeft {
    background-image: url("../../assets/images/grey-star.svg");
}

.statusNumTotal {
    color: #fff;
    font-size: 20px;
    padding-top: 5px; /* align to the bottom */
}

.statusProgress {
    display: flex;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.numBlockStatusWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) { 
    .wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .progressWrapper {
        max-width: 340px;
        width: 100%;
        min-width: 310px;
        margin-bottom: 63px;
    }

    .caption {
        font-size: 18px;
    }

    .numDone {
        font-size: 20px;
    }

    .statusNumTotal {
        font-size: 12px;
    }

    .numTotal {
        font-size: 14px;
    }
}