.wrapper {
    background-image: url("../../assets/images/result-top-bg.svg"), url("../../assets/images/result-bottom-bg.svg");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100%;
    background-color: #4751c0;
    padding: 183px 0 183px 0;
    text-align: center;
    display: flex;
    min-height: 100vh;
}

.innerWrapper {
    width: 620px;
}

.questions {
    margin-bottom: 60px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffbfa;
    border-radius: 14px;
    text-align: left;
    /* width: 620px; */
    height: 79px;
    margin-bottom: 23px;
    padding: 0 31px;
}

.correct .img {
    width: 20px;
    min-width: 20px;
    height: 15px;
    background-image: url("../../assets/images/ticked.svg");
    background-repeat: no-repeat;
}

.questionText {
    max-width: 522px;
    color: #464FAC;
    font-size: 16px;
    font-family: "Quicksand-medium", serif, Times;
    font-weight: 500;
}

.wrong {
    background-color: #FFDBDB;
}

.wrong .img {
    width: 15px;
    min-width: 15px;
    height: 16px;
    background-image: url("../../assets/images/cross-blue.svg");
    background-repeat: no-repeat;
}

button {
    max-width: 446px;
}

@media screen and (max-width: 768px) { 
    .wrapper {
        padding: 47px 0 47px 0;
    }

    .innerWrapper {
        width: 100%;
    }

    .question {
        height: 64px;
        margin-bottom: 16px;
    }

    .questionText { 
        font-size: 12px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 576px) { 
    .wrapper {
        background-image: url("../../assets/images/result-mob-bg.svg");
        background-position: center;
        background-size: 100% 100%;
    }   
}