.wrapper {
    background-image: url("../../assets/images/start-page-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    background-color: #4751C0;
    padding: 183px 0 183px 0;
    /* min-height: 100vh; */
}

/* .contentWrapper {
    width: 445px;
} */

.title {
    font-size: 46px;
    font-family: "Quicksand-bold", serif, Times;
    color: #fff;
    /* margin-top: 183px; */
    margin-bottom: 18px;
}

.headerImg {
    max-width: 640px;
    width: 100%;
    height: auto;
    margin-bottom: 59px;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 445px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.inputGroup:last-of-type {
    margin-bottom: 110px;
 }

label {
    color: #F7A491;
    font-size: 15px;
    font-family: "Quicksand-bold", serif, Times;
    align-self: flex-start;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    height: 37px;
    line-height: 37px;
    margin-bottom: 15px;
    text-align: left;  
}

label[for="dificulty"] {
    background-image: url("../../assets/images/cup.svg");
}

label[for="amount"] {
    background-image: url("../../assets/images/cirlce.svg");   
}

@media screen and (max-width: 768px) { 
    .wrapper { 
        padding: 130px 0 35px 0;
        background-image: url("../../assets/images/start-mob-bg.svg");   
        min-height: 100vh;
    }

    .title {
        font-size: 26px;
    }

    .form {
        max-width: 320px;
    }

    .label {
        font-size: 13px;
        margin-bottom: 9px;
    }

    .inputGroup {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper { 
        min-height: auto;
    }
}