.App {
    text-align: center;
    font-family: "Quicksand-regular", serif, Times;
}

@font-face {
    font-family: Quicksand-regular;
    src: url("./assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Quicksand-medium;
    src: url("./assets/fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
    font-family: Quicksand-bold;
    src: url("./assets/fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: Comfortaa-regular;
    src: url("./assets/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: Comfortaa-bold;
    src: url("./assets/fonts/Comfortaa/Comfortaa-Bold.ttf");
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.select {
    /* max-width: 445px; */
    width: 100%;
    height: 75px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 6px 6px 13px -1px rgba(23, 21, 92, 0.06);
    border-radius: 10px;
    background-color: #4751c0;
    color: #fff;
    font-size: 18px;
    font-family: "Quicksand-medium", serif, Times;
    outline: none;
    appearance: none;
    padding: 0 20px;
    background-image: url("./assets/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 22px 15px;
    background-position: calc(100% - 20px) center;
}

.input {
    /* max-width: 445px; */
    width: 100%;
    height: 75px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 6px 6px 13px -1px rgba(23, 21, 92, 0.06);
    border-radius: 10px;
    background-color: #4751c0;
    color: #fff;
    font-size: 18px;
    font-family: "Quicksand-medium", serif, Times;
    outline: none;
    padding: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.btn {
    width: 100%;
    height: 89px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Quicksand-bold", serif, Times;
    text-transform: uppercase;
    border-radius: 14px;
    font-size: 21px;
    color: #fff;
}

.btn-red {
    background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
    box-shadow: 0 10px #c65252;
}

.btn-blue {
    background-color: #424a9e;
}

.btn-white {
    border: 2px solid #4953BE;
    background-color: none;
    color: #4953BE;
}

@media screen and (max-width: 768px) {
    .input,
    .select {
        height: 54px;
        font-size: 13px;
    }

    .btn {
        height: 64px;
        font-size: 15px;
    }
}
